@import "../../variables";

body {
	padding-top: 0;

	.form__password {
		height: 100vh;
		margin: 0 auto;
		display: flex;
		gap: 25px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: $Lora;

		.update__password {
			text-align: center;
			padding: 10px;
			color: #3e3e3f;
		}

		.form__password-container {
			max-width: 300px;
			background: radial-gradient(
				circle,
				rgba(238, 223, 174, 0.908000700280112) 32%,
				rgba(151, 233, 148, 1) 100%
			);
			width: 100%;
			height: 450px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 18px;
			padding: 20px;
			text-align: center;
			border-radius: 7px;
			box-shadow: 5px 5px 18px 1px #252525;

			label {
				text-align: left;
				font-size: 16px;
			}
			input {
				background: #cfcfd880;
				backdrop-filter: blur(20px);
			}

			.form__password-input {
				padding: 10px;
				border: none;
				border-radius: 5px;
				transition: background 0.3s ease-in;

				&::placeholder {
					color: #3e3e3f;
				}

				&:focus {
					outline: none;
					background: #d5defb;
				}
			}

			.password__hint {
				font-size: 12px;
				padding: 5px;
				color: rgb(184, 0, 0);
				font-weight: 600;
				margin: 0 auto;
				margin-bottom: 10px;
			}
		}

		.update__password-btn {
			align-self: center;
			border: none;
			border-radius: 10px;
			color: rgba(236, 236, 236, 0.856);
			padding: 10px 20px;
			margin-top: 10px;

			cursor: pointer;
			background: rgb(97, 90, 126);
			transition: 0.3s opacity ease-in-out, transform 0.1s ease-in-out;

			&:hover {
				opacity: 0.9;
			}
			&:active {
				transform: scale(0.98);
			}
		}
	}

	.modal__error-overlay {
		background: rgba(85, 85, 85, 0.432);
		backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 5;

		.modal__error {
			position: absolute;
			max-width: 600px;
			width: 100%;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -150%);
			background: #ce0000;
			border-radius: 10px;
			border: 3px solid #6d0000;
			padding: 20px;
			height: 300px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 50px;
			box-shadow: 4px 4px 8px 0px rgb(3, 3, 3);
			pointer-events: auto;

			h2 {
				color: #d5defb;
				font-family: $Lora;
				font-size: 22px;
				text-align: center;
			}

			button {
				padding: 10px 25px;
				border: none;
				background: #b6b6b6;
				width: 180px;
				border-radius: 5px;
				font-family: $Lora;
				cursor: pointer;
				transition: 0.3s background ease-in-out, 0.3s color ease-in-out;

				&:hover {
					background: #0e0d0d;
					color: #d5defb;
				}
			}
		}
	}
}

@media screen and (max-width: 684px) {
	body {
		.modal__error-overlay {
			.modal__error {
				max-width: 450px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	body {
		.form__password {
			.form__password-container {
				max-width: 280px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 486px) {
	body {
		.modal__error-overlay {
			.modal__error {
				max-width: 380px;
				gap: 22px;

				h2 {
					font-size: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 412px) {
	body {
		.modal__error-overlay {
			.modal__error {
				max-width: 300px;
				gap: 22px;

				h2 {
					font-size: 18px;
				}

				button {
					width: 150px;
					padding: 10px 5px;
				}
			}
		}
	}
}

@media screen and (max-width: 332px) {
	body {
		.modal__error-overlay {
			.modal__error {
				max-width: 280px;
				gap: 22px;

				h2 {
					font-size: 18px;
				}

				button {
					width: 150px;
					padding: 10px 5px;
				}
			}
		}
	}
}
