@import "../../variables";

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	background: radial-gradient(
		circle,
		rgba(201, 187, 233, 1) 0%,
		rgba(120, 79, 87, 1) 100%
	);

	h2 {
		margin: 0 auto;
		font-family: $Lora;
		margin-top: 50px;
		font-size: 25px;
	}
}

.social__list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;

	.social__list-item a {
		display: flex;
		align-items: center;
		width: 280px;
		padding: 5px;
		border-radius: 7px;
		gap: 10px;
		font-family: $Lora;
		transition: 0.3s background ease-in-out;

		img {
			width: 30px;
			height: 30px;
		}

		&:hover {
			background: rgb(196, 196, 196);
		}
	}
}

.form__group {
	max-width: 400px;
	width: 100%;
	padding: 0 10px;
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;

	gap: 10px;

	label {
		font-size: 18px;
		font-family: $Varela-Round;
	}

	input,
	textarea {
		width: 100%;
		padding: 10px;
		border: none;
		font-size: 18px;
		border-radius: 7px;
		border-bottom: 2px solid rgb(46, 46, 46);
		background: rgba(228, 222, 222, 0.459);
		font-family: $Varela-Round;

		&::placeholder {
			font-family: $Varela-Round;
		}

		&:focus {
			outline: none;
		}
	}
}

.submit {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 7px;
	font-family: $Varela-Round;
	background: rgb(15, 15, 15);
	color: #c1c1c1;
	cursor: pointer;

	transition: transform 0.3s ease-in-out, background 0.3s ease-in-out,
		color 0.3s ease-in-out;

	&:active {
		transform: scale(0.98);
	}

	&:hover {
		background: #c1c1c1;
		color: #161616;
	}
}

@media screen and (max-width: 650px) {
	.contact {
		gap: 25px;

		input {
			font-size: 16px;
		}
	}
}
