// font-family
$Josefin-Sans: "Josefin-Sans", sans-serif;
$Lora: "Lora", serif;
$Varela: "Varela", sans-serif;
$Varela-Round: "Varela Round", sans-serif;

// colors
$color-top-links: #444;
$background-sidebar: rgb(205 205 205 / 62%);
$border-top-color: rgb(104, 104, 104);
$color-title: #252525;
$color-pod-cat: rgba(255, 123, 0, 0.822);
$color-date: rgb(110, 110, 110);
$color-description: rgb(51, 51, 51);
$color-top-bar: rgba(194, 193, 193, 0.486);
$gradient: linear-gradient(
	rgba(33, 23, 59, 0.332) 0%,
	rgba(68, 26, 34, 0.48) 100%
);
