// Правила для размера блока
*,
*::before,
*::after {
	box-sizing: border-box; // Устанавливаем box-sizing на border-box для всех элементов
}

// Предотвращаем увеличение размера шрифта
html {
	-moz-text-size-adjust: none; // Для Firefox
	-webkit-text-size-adjust: none; // Для Chrome, Safari
	text-size-adjust: none; // Общее правило
	overflow-x: hidden;
}

html,
body {
	scroll-behavior: smooth;
}

/* Define the scrollbar style */
::-webkit-scrollbar {
	width: 10px;
}

/* Define the thumb style */
::-webkit-scrollbar-thumb {
	background: #888;

	&:hover {
		background: #555;
	}
}

/* Define the track style */
::-webkit-scrollbar-track {
	background-color: #1b1b1b;
}

/* Style the beginning section of the scrollbar track */
::-webkit-scrollbar-track-piece:vertical:start {
	background-color: #1b1b1b;
}

/* Style the end section of the scrollbar track */
::-webkit-scrollbar-track-piece:vertical:end {
	background-color: #1b1b1b;
}

/* Define the button style */
::-webkit-scrollbar-button:vertical {
	background-color: #1b1b1b;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23888888' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,165.66a8,8,0,0,1-11.32,0L128,91.31,53.66,165.66a8,8,0,0,1-11.32-11.32l80-80a8,8,0,0,1,11.32,0l80,80A8,8,0,0,1,213.66,165.66Z'%3E%3C/path%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23888888' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
}

// Удаляем стандартные отступы
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0; // Устанавливаем отступ в 0
}
body {
	overflow-x: hidden;
	padding-top: 50px;
}
// Удаляем стили списка для ul, ol элементов с ролью list
ul,
ul[role="list"],
ol[role="list"] {
	list-style: none; // Убираем маркеры списка
}

body {
	background: radial-gradient(
		circle,
		rgba(245, 219, 230, 0.829) 0%,
		rgba(189, 212, 238, 0.856) 100%
	);
}
// Устанавливаем меньшую высоту строки для заголовков и интерактивных элементов
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1; // Устанавливаем высоту строки в 1.1
}

// Балансируем перенос текста на заголовках
h1,
h2,
h3,
h4 {
	text-wrap: balance; // Распределяем текст равномерно
}

// Элементы a, которые не имеют класса, получают стандартные стили
a:not([class]) {
	text-decoration-skip-ink: auto; // Пропускаем чернила при оформлении текста
	color: currentColor; // Цвет текста соответствует текущему цвету текста
}

a {
	text-decoration: none;
	color: inherit;
	position: relative;
}

// Делаем работу с изображениями проще
img,
picture {
	max-width: 100%; // Максимальная ширина изображения - 100%
	display: block; // Изображение отображается как блочный элемент
}

// Наследуем шрифты для ввода и кнопок
input,
button,
textarea,
select {
	font: inherit; // Шрифт наследуется от родительского элемента
}

// Убеждаемся, что textarea без атрибута rows не слишком маленькая
textarea:not([rows]) {
	min-height: 10em; // Минимальная высота - 10em
}

// Любой элемент, к которому было привязано, должен иметь дополнительный отступ прокрутки
:target {
	scroll-margin-block: 5ex; // Отступ прокрутки - 5ex
}

.spinner-cube {
	margin: 0 auto;
	width: 60px;
	height: 60px;
	position: relative;

	div {
		background-color: #03ffff;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 30vh;
		left: 0;
		-webkit-animation: cuberotate 1.8s infinite ease-in-out;
		animation: cuberotate 1.8s infinite ease-in-out;

		&:nth-child(2) {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}
	}
}

@-webkit-keyframes cuberotate {
	25% {
		-webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
		background: rgb(255, 0, 0);
	}

	50% {
		-webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
		background: rgb(0, 0, 255);
	}

	75% {
		-webkit-transform: translateX(0px) translateY(22px) rotate(-270deg)
			scale(0.5);
		background: rgb(0, 255, 0);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		background: rgb(170, 0, 255);
	}
}

@keyframes cuberotate {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		background: rgb(255, 0, 0);
	}

	50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		background: rgb(0, 0, 255);
	}

	50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		background: rgb(0, 255, 0);
	}

	75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		background: rgb(170, 0, 255);
	}

	100% {
		transform: rotate(-360deg);
		background: #ff0095;
	}
}
